.container {
  height: 200px;
  border: 5px solid green;
  width: 300px;
  background-color: transparent;
}
.container #weight {
  margin-left: 20px;
}
.container #height {
  margin-left: 20px;
}
.container #a1,
.container #a2 {
  margin-left: 20px;
}
.container #butt {
  margin-left: 50px;
  margin-top: 08px;
}
#output {
  font-size: 20px;
  color: black;
}
